<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">

  <resource-ref>
    <description>JDBC Connection Pool</description>
    <res-ref-name>jdbc/myDB</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>

	<display-name>MatrixTrial</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

  <listener>
          <listener-class>com.richardsonprogramming.matrix.web.listeners.AppContextListener</listener-class>
  </listener>

	<servlet>
		<servlet-name>Matrix</servlet-name>
		<servlet-class>com.richardsonprogramming.matrix.web.FillMatrixServlet</servlet-class>
    <load-on-startup> 1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>Matrix</servlet-name>
		<url-pattern>/FillMatrix.do</url-pattern>
	</servlet-mapping>

  <servlet>
    <servlet-name>RandomMeals</servlet-name>
    <servlet-class>com.richardsonprogramming.matrix.web.MakeRandomMealsServlet</servlet-class>
    <load-on-startup> 1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>RandomMeals</servlet-name>
    <url-pattern>/MakeMeals.do</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>EditFoods</servlet-name>
    <servlet-class>com.richardsonprogramming.matrix.web.EditMatrixServlet</servlet-class>
    <load-on-startup> 1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>EditFoods</servlet-name>
    <url-pattern>/EditMatrix.do</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ResetFoods</servlet-name>
    <servlet-class>com.richardsonprogramming.matrix.web.ResetMatrixServlet</servlet-class>
    <load-on-startup> 1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>ResetFoods</servlet-name>
    <url-pattern>/ResetMatrix.do</url-pattern>
  </servlet-mapping>

	<servlet>
		<servlet-name>jsp</servlet-name>
		<servlet-class>org.apache.jasper.servlet.JspServlet</servlet-class>
		<init-param>
        <param-name>fork</param-name>
        <param-value>false</param-value>
    </init-param>
    <init-param>
        <param-name>xpoweredBy</param-name>
        <param-value>false</param-value>
    </init-param>
		<init-param>
			<param-name>development</param-name>
			<param-value>true</param-value>
		</init-param>
		<load-on-startup>3</load-on-startup>
	</servlet>

  <session-config>
    <session-timeout>60</session-timeout>
  </session-config>

  <error-page>
    <error-code>403</error-code>
    <location>/errorPage.jsp</location>
  </error-page>

    <error-page>
    <error-code>404</error-code>
    <location>/errorPage.jsp</location>
  </error-page>
	
   <error-page>
    <error-code>500</error-code>
    <location>/errorPage.jsp</location>
  </error-page>

  <filter>
  <filter-name>CorsFilter</filter-name>
  <filter-class>org.apache.catalina.filters.CorsFilter</filter-class>
  <init-param>
    <param-name>cors.allowed.origins</param-name>
    <param-value>http://mealmatrix.richardsonprogramming.com</param-value>
  </init-param>
  <init-param>
    <param-name>cors.allowed.methods</param-name>
    <param-value>GET,POST,HEAD,OPTIONS,PUT</param-value>
  </init-param>
  <init-param>
    <param-name>cors.allowed.headers</param-name>
    <param-value>Content-Type,X-Requested-With,accept,Origin,Access-Control-Request-Method,Access-Control-Request-Headers</param-value>
  </init-param>
  <init-param>
    <param-name>cors.exposed.headers</param-name>
    <param-value>Access-Control-Allow-Origin,Access-Control-Allow-Credentials</param-value>
  </init-param>
  <init-param>
    <param-name>cors.support.credentials</param-name>
    <param-value>true</param-value>
  </init-param>
  <init-param>
    <param-name>cors.preflight.maxage</param-name>
    <param-value>10</param-value>
  </init-param>
</filter>
<filter-mapping>
  <filter-name>CorsFilter</filter-name>
  <url-pattern>/*</url-pattern>
</filter-mapping>

</web-app>